<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <h5>Chats</h5>
      <% if @challenge.chats.any? %>
        <% @challenge.chats.each do |chat| %>
          <li>
            <%= link_to chat.title, chat_path(chat)  %>
          </li>
        <% end %>
      <% else %>
        <li>No chats yet. <%= link_to 'Create one.', challenge_chats_path(@challenge), data: { turbo_method: :post }  %></li>
      <% end %>
    </div>

    <div class="col-9">
      <div class="d-flex justify-content-between align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to 'Challenges', challenges_path  %></li>
            <li class="breadcrumb-item active" aria-current="page"><%= @challenge.name %></li>
          </ol>
        </nav>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <%= link_to 'All Chats' %>
            </li>
            <li class="breadcrumb-item"><%= link_to 'New Chat', challenge_chats_path(@challenge), data: { turbo_method: :post }  %></li>
          </ol>
        </nav>
      </div>
      <h1><%= @challenge.name %></h1>
      <%= raw(render_markdown(@challenge.content)) %>
    </div>
  </div>
</div>





